################################# NOTE ############################
###                                                             ###
### Note that these packages are required for DEVELOPMENT only. ###
### For normal use, this library depends on nothing.            ###
###                                                             ###
################################# NOTE ############################

### required to run tests
pytest
pytest-httpserver

### required to check and report coverage
coverage
codecov
